#authcontainer {
    background: linear-gradient(to bottom, #A8271C,#A8271C 30%,#100707);
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#authbox {
    display: block;
    background-color: #f0f0f0;
    border-color: gray;
    border-radius: 25px;
}

.custom-rounded-input {
    border-radius: 2rem; 
}

.custom-red {
    background: #A8271C;
    border-color: #A8271C;
}

