#authcontainer {
    padding: 15vh 0 !important;
    background-color: rgba(255,47,47,0.83) !important;
    min-height: 500px;
}

#authbox {
    margin: 0 auto;
    background-color: rgba(235,235,235,0.96);
    border-color: gray;
}