@inherits LayoutComponentBase

<PageTitle>RedResQ_WebApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="container-fluid h-100 w-100 pt-4 pb-4">
            @Body
        </div>
    </main>
</div>
