<div class="page">
    <main>
        <div id="sidebar-element">
            <Sidebar></Sidebar>
        </div>
        
        ´<div class="vstack">
            <div id="topbar-element">
                <Topbar></Topbar>
            </div>

            <div id="contentHolder">
                @ChildContent
            </div>
        </div>
    </main>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}