@page "/stats"
@using ChartJs.Blazor.PieChart

<h3>Chart Example</h3>

<PageTitle>Statistics</PageTitle>

<Chart Config="_pieConfig"></Chart>



@code {
	private PieConfig _pieConfig;

	protected override void OnInitialized()
	{
		ConfigurePieConfig();
	}

	private void ConfigurePieConfig()
	{
		_pieConfig = new PieConfig();

		_pieConfig.Options = new PieOptions
		{
			Responsive = true,
			Title = new OptionsTitle
			{
				Display = true,
				Text = "First PieChart"
			}
		};

		foreach (var quiz in new[] { "Earthquake", "Tornado", "Tsunami", "Flood", "Vulcano" })
		{
			_pieConfig.Data.Labels.Add(quiz);
		}

		var dataset = new PieDataset<int>(new[] { 35, 50, 15, 45, 10 })
		{
			BackgroundColor = new[]
			{
				ColorUtil.ColorHexString(255, 215, 0),
				ColorUtil.ColorHexString(0, 206, 209),
				ColorUtil.ColorHexString(255, 111, 97),
				ColorUtil.ColorHexString(144, 238, 144),
				ColorUtil.ColorHexString(255, 0, 255)
			}
		};

		_pieConfig.Data.Datasets.Add(dataset);
	}

	
}
