@inject NavigationManager NavigationManager

<div>
    <button class="btn btn-success" type="button" @onclick="TogglePopUp">
        <i class="oi oi-plus text-light"></i> Add new Quiz-Type
    </button>

    @if (_showPopUp)
    {
        <div class="quiztype-popup vh-100 vw-100" @onclick="TogglePopUp">
            <div class="quiztype-container" @onclick:stopPropagation="true">
                <div class="popup-header p-3">
                    <h3>Add new QuizType</h3>

                    <button class="btn fw-bold" type="button" title="Close Quiz inspection" @onclick="TogglePopUp">
                        X
                    </button>
                </div>

                <div class="popup-content p-4">
                    <form @onsubmit="SubmitQuizType">
                        <div class="form-group">
                            <label for="type-name" class="form-label">Name</label>
                            <input type="text" name="type-name" class="form-control" required @bind-value="Name" />
                        </div>

                        <br />

                        <div class="text-center">
                            <button type="submit" class="w-25 btn btn-success">
                                Add new QuizType
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    }
</div>