@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-box {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.form-control {
    background-color: #fff;
    border: none;
    color: #fff;
    border-radius: 30px;
    padding: 15px 20px;
    margin-bottom: 15px;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2);
}

    .form-control::placeholder {
        color: #0f0c29;
    }

    .form-control:focus {
        outline: none; 
        border: 1px solid rgba(255, 255, 255, 0.001); 
        box-shadow: none; 
    }

.btn-primary {
    background-color: #2b42ae;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    color: #fff; 
}

    .btn-primary:hover {
        background-color: #2b42ae;
        transform: translateY(-2px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }

.login-box h3 {
    color: #fff; 
}

.login-box h5 {
    color: #fff;
}

