@using RedResQ_WebApp.Components.QuizComps.Add
@page "/quiz/add"

<h3>Add a Quiz</h3>

<Init @ref="_init" />

<QuizView @ref="_quizView"></QuizView>


@code {
    private Init? _init;
    private QuizView? _quizView;

    private void InitializeQuizView()
    {
        _quizView!.Quiz = _init!.GetQuiz();

        _quizView.Refresh();
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        _init!.FormSubmitted += InitializeQuizView;

        return base.OnAfterRenderAsync(firstRender);
    }
}